<h1>Редактирование статического объекта</h1>

<%= form_for(@sign, html: {class: 'pure-form pure-form-stacked', multipart: true }) do |form| %>
  <p><label for = "sign_id"><%= "Идентификатор: #{@sign.id}"%></label>
  <div>
    <p><label for = "sign_longitude">Долгота</label>
    <%= number_field 'sign', 'longitude', step: :any %></p>
  </div>

  <div>
    <p><label for = "sign_latitude">Широта</label>
    <%= number_field 'sign', 'latitude', step: :any %></p>
  </div>

  <div>
    <p><label for = "sign_name">Имя объекта</label>
    <%= text_field 'sign', 'name' %></p>
  </div>

  <div>
    <p><label for = "sign_desc">Описание</label>
    <%= text_field 'sign', 'desc' %></p>
  </div>

  <div class="pure-input-rounded">
    <p><label for = "sign_image">Изображение</label>
     <%= file_field 'sign', 'image' %>
    </p>
  </div>

  <button type="submit" class="pure-button pure-button-primary">Сохранить</button>
<% end %>
<style>
    .custom-restricted-width {
        display: inline-block;
        width: 17em; 
        border: 1px solid gray;
        border-radius: 4px;
    }
</style>
<div class="pure-menu custom-restricted-width">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
        <a href=<%="/signs/#{@sign.id}" %> class="pure-menu-link">Показать</a>
        <a href=<%=signs_path %> class="pure-menu-link">Назад</a>
    </li>
  </ul>
</div>
