<p id="notice"><%= notice %></p>

<h1>Данные статического объекта</h1>
<style>
    .custom-restricted-width {
        display: inline-block;
        width: 26em; 
        border: 1px solid gray;
        border-radius: 4px;
    }
</style>
<p>
  <div class="pure-menu custom-restricted-width">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
          <a href=<%= edit_sign_path(@sign) %> class="pure-menu-link">Редактировать</a>
          <a href=<%= url_for(:back) %> class="pure-menu-link">Назад</a>
      </li>
    </ul>
  </div>
</p>
<p>
  <b>Идентификатор:</b>
  <%= @sign.id %>
</p>

<p>
  <b>Имя:</b>
  <%= @sign.name.present? ? @sign.name : 'Имя не указано' %>
</p>

<p>
  <b>Долгота:</b>
  <%= @sign.longitude %>
</p>

<p>
  <b>Широта:</b>
  <%= @sign.latitude %>
</p>

<p>
  <b>Описание:</b>
  <%= @sign.desc.present? ? @sign.desc : 'Описания нет'%>
</p>

<p>
  <b> Изображение статического объекта</b>
  <p> 
    <img class="pure-img" src=<%= "data:image/jpeg;base64,#{Base64.encode64(@sign.document.tempfile).gsub("\n",'')}"%> alt="Избражение статического объекта" />
  </p>
</p>

<p>
  <b>Местонахождение:</b>
  <p>
    <!-- размеры вывода квадрата - 0.0004 --> 
    <iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
            src=<%="https://www.openstreetmap.org/export/embed.html?bbox=#{@sign.longitude - 0.0004}%2C#{@sign.latitude - 0.0004}%2C#{@sign.longitude + 0.0004}%2C#{@sign.latitude + 0.0004}&layer=mapnik&marker=#{@sign.latitude}%2C#{@sign.longitude}" %> 
            style="border: 1px solid black">
  </p>
</p>
