<p id="notice"><%= notice %></p>

<h1>Мак адреса объектов</h1>

  <table class='pure-table pure-table-horizontal' style="margin-left: 5em">
    <thead>
      <th>Мак адресс</th>
    </thead>
    <tbody>
      <% @steps.each do |step| %>
        <tr>
        <td><%= step %></td>
        <td>
          <%unless Hbase::GetService.new(step).call.blank? %>
            <%= link_to 'Показать', "/steps/#{Hbase::GetService.new(step).call[:identifier]}", class: "pure-menu-link" %>
          <%else%>
            Нет последнего местоположения
          <%end%>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</table>
<br>
<style>
    .custom-restricted-width {
        display: inline-block;
        width: 26em; 
        border: 1px solid gray;
        border-radius: 4px;
    }
</style>
<div class="pure-menu custom-restricted-width">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
        <a href='/main' class="pure-menu-link">Главное меню</a>
    </li>
  </ul>
</div>