<p id="notice"><%= notice %></p>
<h1>Данные объекта</h1>
<p>

<style>
    .custom-restricted-width {
        display: inline-block;
        width: 17em; 
        border: 1px solid gray;
        border-radius: 4px;
    }
</style>
<div class="pure-menu custom-restricted-width">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <%= link_to 'Назад', steps_path, class:"pure-menu-link" %>
      <%= link_to 'Обновить', "/steps/#{@step[:identifier]}", class:"pure-menu-link" %>
    </li>
  </ul>
</div>

</p>

<p>
  <b>Идентификатор:</b>
  <%= @step[:identifier] %>
</p>

<p>
  <b>Долгота:</b>
  <%= @step[:longitude] %>
</p>

<p>
  <b>Широта:</b>
  <%= @step[:latitude] %>
</p>

<p>
  <b>Ближайшие статические объект:</b>
   <%begin%>
    <%= link_to 'Первый статический объект', "/signs/#{NearTwoSigns.new(@step[:identifier]).call.first.id}", class:"pure-button pure-button-primary", name: 'image_from_object' %>
    <%= link_to 'Второй статический объект', "/signs/#{NearTwoSigns.new(@step[:identifier]).call.last.id}",  class:"pure-button pure-button-primary", name: 'detected_image'%>
   <%rescue%>
     Знаков по близости нет
   <%end%>
</p>

<div class="pure-g">

  <div class="pure-u-1-2">
    <p>
      <b> Изображение c объекта</b>
      <p> 
        <img class="pure-img" src=<%= "data:image/jpeg;base64,#{Base64.encode64(@step[:document][:tempfile]).gsub("\n",'')}"%> alt="Избражение статического объекта" />
      </p>
    </p>
  </div>

  <div class="pure-u-1-2">
    <p>
      <b> Детектированное изображение c объекта</b>
      <p> 
        <img class="pure-img" src=<%= "data:image/jpeg;base64,#{Base64.encode64(@detected_image).gsub("\n",'')}"%> alt="Детектированное избражение статического объекта" />
        <br>
        <b> Найденные объекты на изображении:</b>
        <br>
        <%unless @detected_info.nil?%>
          <p>
            <%@detected_info.each do |info|%>
              <%= "Объект: #{info[:object]} Процент совпадения: #{info[:persent_detect]} Расстояние: #{info[:distance]} Размеры: #{info.slice(:left_x, :top_y, :width, :height)}"%>
              <br>
            <%end%>
          </p>
        <%else%>
          Нет найденых объектов
        <%end%>
      </p>
    </p>
  </div>
</div>

<p>
  <b>Местонахождение:</b>
  <p>
    <!-- размеры вывода квадрата - 0.0004 --> 
    <iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
            src=<%="https://www.openstreetmap.org/export/embed.html?bbox=#{@step[:longitude] - 0.0004}%2C#{@step[:latitude] - 0.0004}%2C#{@step[:longitude] + 0.0004}%2C#{@step[:latitude] + 0.0004}&layer=mapnik&marker=#{@step[:latitude]}%2C#{@step[:longitude]}" %> 
            style="border: 1px solid black">
  </p>
</p>