<h1>Детектировать объект</h1>


<%= form_tag('/detects', multipart: true) do |form| %>
  <div class="pure-input-rounded">
    <p><label for = "detect_image">Изображение</label>
     <%= file_field 'detect', 'image', required: true %>
    </p>
  </div>
  <button type="submit" class="pure-button pure-button-primary">Отправить</button>
<% end %>
<br>
<style>
    .custom-restricted-width {
        display: inline-block;
        width: 17em; 
        border: 1px solid gray;
        border-radius: 4px;
        color: #333;
    }
</style>
<div class="pure-menu custom-restricted-width">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
        <a href='/main' class="pure-menu-link">Главное меню</a>
    </li>
  </ul>
</div>