<p id="notice"><%= notice %></p>

<h1>Детектированное изображение</h1>
<p>
<p>
  <b> Изображение </b>
  <p> 
    <img class="pure-img" src=<%= "data:image/jpeg;base64,#{Base64.encode64(@detected_image).gsub("\n",'')}"%> alt="Избражение статического объекта" />
  </p>

  <b> Объекты </b>
  <p> 
    <%@detected_info.each do |info|%>
        <%= "Объект: #{info[:object]} Процент совпадения: #{info[:persent_detect]} Расстояние: #{info[:distance]} Размеры: #{info.slice(:left_x, :top_y, :width, :height)}"%>
       <br>
    <%end%>
  </p>
</p>
<br>
<style>
    .custom-restricted-width {
        display: inline-block;
        width: 17em; 
        border: 1px solid gray;
        border-radius: 4px;
        color: #333;
    }
</style>

<div class="pure-menu custom-restricted-width">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
    <a href='/detects' class="pure-menu-link">Назад</a>
        <a href='/main' class="pure-menu-link">Главное меню</a>
    </li>
  </ul>
</div>