<h1>Редактирование информации статического объекта</h1>

<%= form_for(@information_sign, html: {class: 'pure-form pure-form-stacked', multipart: true }) do |form| %>
  <p><label for = "information_sign_id"><%= "Идентификатор: #{@information_sign.id}"%></label>
  <div>
    <p><label for = "information_sign_name">Имя объекта</label>
    <%= text_field 'information_sign', 'name' %></p>
  </div>

  <div>
    <p><label for = "information_sign_name">Высота</label>
    <%= text_field 'information_sign', 'height' %></p>
  </div>

  <button type="submit" class="pure-button pure-button-primary">Сохранить</button>
<% end %>
<style>
    .custom-restricted-width {
        display: inline-block;
        width: 17em; 
        border: 1px solid gray;
        border-radius: 4px;
    }
</style>
<div class="pure-menu custom-restricted-width">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
        <a href=<%="/information_signs/#{@information_sign.id}" %> class="pure-menu-link">Показать</a>
        <a href=<%=information_signs_path %> class="pure-menu-link">Назад</a>
    </li>
  </ul>
</div>
