<p id="notice"><%= notice %></p>

<h1>Информация о объектах</h1>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <th>Идентификатор</th>
      <th>Имя</th>
      <th>Высота</th>
    </thead>
    <tbody>
      <% @information_signs.each do |sign| %>
        <tr>
        <td><%= sign.id %></td>
        <td><%= sign.name.present? ? sign.name : 'Имя не указано' %></td>
        <td><%= sign.height %></td>
        <td><a href=<%= "/information_signs/#{sign.id}" %> class="pure-menu-link">Показать</a></td>
        <td><a href=<%= edit_information_sign_path(sign) %> class="pure-menu-link">Редактировать</a></td>
        <td><%= link_to 'Удалить', sign, class: "pure-menu-link" ,method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<p>

<style>
    .custom-restricted-width {
        display: inline-block;
        width: 17em; 
        border: 1px solid gray;
        border-radius: 4px;
    }
</style>
<div class="pure-menu custom-restricted-width">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
        <a href=<%=new_information_sign_path%> class="pure-menu-link">Создать инфомацию</a>
        <a href='/main' class="pure-menu-link">Главное меню</a>
    </li>
  </ul>
</div>
