<h1>Новая информация статического объекта</h1>


<%= form_for(@information_sign, html: { class: 'pure-form pure-form-stacked', multipart: true }) do |form| %>
  <div>
    <p><label for = "information_sign_height">Высота</label>
    <%= number_field 'information_sign', 'height', step: :any, required: true %></p>
  </div>

  <div>
    <p><label for = "information_sign_name">Имя объекта</label>
    <%= text_field 'information_sign', 'name' %></p>
  </div>

  <button type="submit" class="pure-button pure-button-primary">Сохранить</button>
<% end %>
<br>
<style>
    .custom-restricted-width {
        display: inline-block;
        width: 15em; 
        border: 1px solid gray;
        border-radius: 4px;
    }
</style>
<div class="pure-menu custom-restricted-width">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
        <a href=<%=signs_path %> class="pure-menu-link">Назад</a>
    </li>
  </ul>
</div>