<p id="notice"><%= notice %></p>

<h1>Информация статического объекта</h1>
<style>
    .custom-restricted-width {
        display: inline-block;
        width: 26em; 
        border: 1px solid gray;
        border-radius: 4px;
    }
</style>
<p>
  <div class="pure-menu custom-restricted-width">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
          <a href=<%= edit_information_sign_path(@information_sign) %> class="pure-menu-link">Редактировать</a>
          <a href=<%= url_for(:back) %> class="pure-menu-link">Назад</a>
      </li>
    </ul>
  </div>
</p>
<p>
  <b>Идентификатор:</b>
  <%= @information_sign.id %>
</p>

<p>
  <b>Имя:</b>
  <%= @information_sign.name.present? ? @information_sign.name : 'Имя не указано' %>
</p>
<p>
  <b>Высота:</b>
  <%= @information_sign.height %>
</p>
